@tailwind base;
@tailwind components;
@tailwind utilities;

.debug * { outline: 1px solid orange; }
.debug-white * { outline: 1px solid white; }
.debug-black * { outline: 1px solid black; }

.debug-grid {
    background: transparent url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAI0lEQVQYlWP8//8/AyHA+IHBl4mgKigYVYgXsDB+YPAlRiEA0toFjx9iVhEAAAAASUVORK5CYII=) repeat 0 0;
}